﻿body {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 80%;
    background-image: url('images/bodyBackground.jpg');
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#wrapper {
    background-color: blueviolet;
    background-color: rgba(100,0,255, 0.4);
    overflow: auto;
}

header {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    font-style: italic;
    color: yellowgreen;
}

#ticTacToeTable {
    float:left;
    margin-left: 35%;
    margin-top: 15%;
    width: 5em;
    height: 5em;
    border-collapse: collapse;
}

#secondRow {
    border-top: 0.25em black solid;
    border-bottom: 0.25em black solid;
}

.secondColumn {
    border-left: 0.25em black solid;
    border-right: 0.25em black solid;
}